# Python cache and virtual environment directories
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.pdb
**/*.egg
**/*.egg-info/
**/dist/
**/build/
**/*.egg-info/
**/*.eggs/
**/*.whl
**/*.manifest
**/*.spec

# Virtual environment
**/venv/
**/ENV/
**/env/
**/venv.bak/
**/venv.bak/

# vscode
.vscode/

Krypto/lista1-md5/subprojects/*
Krypto/lista1-md5/builddir
Krypto/lista1-md5/compile